        * {
            padding: 0;
            margin: 0;
        }
        /* ustawienie wszystkich odległości oraz marginesów na zero*/
        /*------------------------------------------------------------------------------------------------------------------*/
        
        html {
            width: 100%;
            height: 100%;
        }
        /* ustawienie znacznika html szerokość i wysokość na 100% */
        /*------------------------------------------------------------------------------------------------------------------*/
        
        body {
            font-family: Arial, Helvetica, Sans-serif;
            /* zmienia rodzaj czcionki */
            font-size: 14px;
            /* zmienia rozmiar czcionki */
            line-height: 1.5;
            /* zmienia odstęp pomiędzy liniami */
            font-weight: 400;
            /* zmienia grubość czcionki */
            color: #434343;
            /* zmienia kolor czcionki */
            background: #FFF;
            /* zmienia kolor tła */
        }
        /*------------------------------------------------------------------------------------------------------------------*/
        
        .container {
            width: 1050px;
            margin: 0 auto;
            /* zmienia szerokość i marginesy klasy kontener */
        }
        
        header {
            margin: 25px 0;
        }
        
        header img {
            width: 100%;
        }
        /* zmieniają marginesy headera i szerokość grafiki w nim */
        /*------------------------------------------------------------------------------------------------------------------*/
        
        aside {
            float: left;
            width: 30%;
            margin: 0 0 25px;
        }
        
        aside nav ul {
            list-style: none;
        }
        
        aside nav ul li {
            margin-bottom: 1px;
        }
        
        aside nav ul li a {
            display: block;
            text-decoration: none;
            color: #000;
            background: #FFC000;
            padding: 8px 20px;
        }
        
        aside nav ul li a:hover {
            background: #212121;
            color: #FFF;
        }
        /* pozycjonuje, ustawia szerokość, margiesy, rodzaj listy, dekoracje tekstu, kolor czcionki, kolor tła, padding oraz zmienia kolor linków, po najechaniu na nie kursorem */
        
        #main {
            float: right;
            width: 65%;
            margin: 0 0 25px;
        }
        /*pozycjonuje, ustawia szerokość i marginy klasy main */
        
        footer {
            clear: both;
            color: #FFF;
            background: #121212;
            padding: 15px 0 15px 30px;
        }
        /*ustawia paddingi, kolor i tło footera */
        /*------------------------------------------------------------------------------------------------------------------*/
        
        @media (min-width: 1100px) {
            .container {
                width: 1050px;
            }
            aside {
                width: 30%;
            }
            #main {
                width: 65%;
            }
            textarea {
                width: 100%;
            }
        }
        /*  wytłumaczenie5linie
    @media (min-width: 1100px) {
        ->dla urządzeń większych niż 1100px.container {
            width: 1050px;
        }
        ->szerokość głównego kontenera1050px aside {
            width: 30%;
        }
        ->szerokość aside 30% container #main {
            width: 65%;
        }
        ->szerokość sekcji main 65% containertextarea {
            width: 100%;
        }
        ->szerokość textarea 100% containe
        */
        
        @media (max-width: 1100px) and (min-width: 1000px) {
            .container {
                width: 950px;
            }
            aside {
                width: 30%;
            }
            #main {
                width: 65%;
            }
            textarea {
                width: 100%;
            }
        }
        /*wytłumaczenie 4 linie patrz wyżej */
        /*------------------------------------------------------------------------------------------------------------------*/
        
        @media (max-width: 1000px) and (min-width: 800px) {
            .container {
                width: 750px;
            }
            aside {
                width: 30%;
            }
            #main {
                width: 65%;
            }
            textarea {
                width: 100%;
            }
        }
        /*wytłumaczenie 4 linie patrz wyżej */
        /*------------------------------------------------------------------------------------------------------------------*/
        
        @media (max-width: 800px) and (min-width: 500px) {
            .container {
                width: 450px;
            }
            aside,
            #main {
                width: 100%;
            }
            textarea {
                width: 100%;
            }
        }
        /*wytłumaczenie 4 linie patrz wyżej *-> przestawienie układu bloki  pod sobą */
        /*------------------------------------------------------------------------------------------------------------------*/
        
        @media (max-width: 500px) {
            .container {
                width: 90%;
            }
            aside,
            #main {
                width: 100%;
            }
            textarea {
                width: 100%;
            }
        }
        /*------------------------------------------------------------------------------------------------------------------*/